@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* for global setup */
@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
}

@theme {
  --color-primary: #ff5733; /* Example custom color */
  --color-secondary: #33a8ff;
  --color-dark-chocolate: #633f31;
}
